In [2]:
import pandas as pd
from ydata_profiling import ProfileReport

In [3]:
df = pd.read_csv('marks.csv')
df

       name  english  hindi  maths  science  sst
0    anjali       89     78     67       76   90
1    ashish       91     80     69       78   88
2    vaishu       93     82     71       80   86
3    prachi       95     84     73       82   84
4    sakshi       97     86     75       84   82
5      atul       99     88     77       86   80
6      manu      101     90     79       88   78
7     jyoti      103     92     81       90   76
8     peehu      105     94     83       92   74
9     richa      107     96     85       94   72
10      anu      109     98     87       96   70
11  hanuman      111    100     89       98   68

In [4]:
profile = ProfileReport(df)

In [5]:
profile.to_file('marks1.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]